/** Esta clase hace que la tabla contenedora ocupe toda la pantalla  */
/**/

.callout_main
{
    width: 100%;
}

.informacion-compra {
	background-color: #f6f6f6;
	margin: 10px auto;
	border-radius: 10px;
}

/*PARA el Combo de Producto*/

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 200px;
}

.ui-autocomplete li
{
	border-bottom: 0px solid;
	border: 0px;
}

.ui-autocomplete li:nth-child(even) {
	background: #e7f8fd;
}

.ui-autocomplete li:nth-child(odd) {
	background: #FFF;
}
